
#caixa-mae {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: red;
    width: 1000px;
    height: 600px;
}
#caixa-filho1{
    width: 20%;
    height: 20%;
    background-color: yellow;
}
#caixa-filho2{
    width: 20%;
    height: 20%;
    background-color: green;
}
#caixa-filho3{
    width: 20%;
    height: 20%;
    background-color: blueviolet;
}